[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
torchvision = "*"
torchaudio = "*"
transformers = "*"
datasets = "*"
cytoolz = "*"
grpcio = ">=1.37.0"
h5py = ">=3.6.0"
numpy = ">=1.22.3"

[dev-packages]
pre-commit = "*"
isort = "*"
seed-isort-config = "*"
yamllint = "*"
flake8 = "*"
mypy = "*"
bandit = "*"
black = "*"
pydocstyle = "*"
pdoc3 = "*"
build = "*"
twine = "*"
setuptools = "*"
wheel = "*"
beautysh = "*"
neovim = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
