[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
torchvision = "*"
torchaudio = "*"
transformers = "*"
datasets = "*"
cytoolz = "*"
grpcio = ">=1.37.0"
h5py = ">=3.6.0"
numpy = ">=1.22.3"
tensorflow-macos = "*"
tensorflow-metal = "*"
nbdime = ">=1.1.1"
jupyterlab-vim = ">=0.15"
jupyterlab = ">=3.3"
jupyterlab-latex = ">=3.1.0"
lckr-jupyterlab-variableinspector = "*"
jupyter-tensorboard = ">=0"
jupyterlab-system-monitor = ">=0.8"
jupyterlab-git = ">=0.37"
jupyterlab-github = ">=3.0"
jupyterlab-lsp = ">=3.10"
python-lsp-server = {version = ">=1.5.0", extras = ["all"]}
aquirdturtle-collapsible-headings = ">=3.1"
jupyter-dash = ">=0.4.2"
jupyter-bokeh = ">=3.0.4"
jupyterlab-widgets = ">=1.1"
ipyleaflet = ">=0.17"
ipywidgets = ">=7.5"

[dev-packages]
pre-commit = "*"
isort = ">=5.10.1"
seed-isort-config = "*"
yamllint = "*"
flake8 = "*"
mypy = "*"
bandit = "*"
black = ">=22.6"
pydocstyle = "*"
pdoc3 = "*"
build = "*"
twine = "*"
setuptools = "*"
wheel = "*"
beautysh = "*"
neovim = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
